
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Rules for posts
    match /posts/{postId} {
      // Anyone can read posts
      allow read: if true;
      // Allow anyone to create, update, delete for now.
      // TODO: Secure this to only allow authenticated admin users
      allow write: if true;
    }

    // Rules for team members
    match /team/{memberId} {
       // Anyone can read team member info
      allow read: if true;
      // Nobody can write to the team collection from the client
      allow write: if false;
    }
  }
}
